<h1>Locations</h1>

<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location %> - <%= location.expense %></li>
  <% end %>
</ul>

<%= link_to 'Add New Location', new_location_path %>